In [1]:
# 라이브러리 불러오기
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
# train, test csv 파일 불러오기
train_df = pd.read_csv('C:/Users/User/Desktop/수업과제/머신러닝팀플/open/train.csv')

In [3]:
test_df = pd.read_csv('C:/Users/User/Desktop/수업과제/머신러닝팀플/open/test.csv')

In [4]:
# 불러온 데이터 확인
train_df.head(3)

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month,credit
0,0,F,N,N,0,202500.0,Commercial associate,Higher education,Married,Municipal apartment,-13899,-4709,1,0,0,0,NaN,2.0,-6.0,1.0
1,1,F,N,Y,1,247500.0,Commercial associate,Secondary / secondary special,Civil marriage,House / apartment,-11380,-1540,1,0,0,1,Laborers,3.0,-5.0,1.0
2,2,M,Y,Y,0,450000.0,Working,Higher education,Married,House / apartment,-19087,-4434,1,0,1,0,Managers,2.0,-22.0,2.0

In [5]:
test_df.head(3)

,index,gender,car,reality,child_num,income_total,income_type,edu_type,family_type,house_type,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,work_phone,phone,email,occyp_type,family_size,begin_month
0,26457,M,Y,N,0,112500.0,Pensioner,Secondary / secondary special,Civil marriage,House / apartment,-21990,365243,1,0,1,0,NaN,2.0,-60.0
1,26458,F,N,Y,0,135000.0,State servant,Higher education,Married,House / apartment,-18964,-8671,1,0,1,0,Core staff,2.0,-36.0
2,26459,F,N,Y,0,69372.0,Working,Secondary / secondary special,Married,House / apartment,-15887,-217,1,1,1,0,Laborers,2.0,-40.0

In [6]:
# train_df 데이터프레임 개요 정보
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          26457 non-null  int64
 1   gender         26457 non-null  object
 2   car            26457 non-null  object
 3   reality        26457 non-null  object
 4   child_num      26457 non-null  int64
 5   income_total   26457 non-null  float64
 6   income_type    26457 non-null  object
 7   edu_type       26457 non-null  object
 8   family_type    26457 non-null  object
 9   house_type     26457 non-null  object
 10  DAYS_BIRTH     26457 non-null  int64
 11  DAYS_EMPLOYED  26457 non-null  int64
 12  FLAG_MOBIL     26457 non-null  int64
 13  work_phone     26457 non-null  int64
 14  phone          26457 non-null  int64
 15  email          26457 non-null  int64
 16  occyp_type     18286 non-null  object
 17  family_size    26457 non-null  float64
 18  begin_month    26457 non-null  float64
 19  credit         26457 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 4.0+ MB

In [7]:
# train_df, test_df 중복 데이터 확인
train_df.duplicated().sum()

0

In [8]:
test_df.duplicated().sum()

0

In [9]:
# train_df, test_df 결측값 확인
train_df.isnull().sum()

index               0
gender              0
car                 0
reality             0
child_num           0
income_total        0
income_type         0
edu_type            0
family_type         0
house_type          0
DAYS_BIRTH          0
DAYS_EMPLOYED       0
FLAG_MOBIL          0
work_phone          0
phone               0
email               0
occyp_type       8171
family_size         0
begin_month         0
credit              0
dtype: int64

In [10]:
test_df.isnull().sum()

index               0
gender              0
car                 0
reality             0
child_num           0
income_total        0
income_type         0
edu_type            0
family_type         0
house_type          0
DAYS_BIRTH          0
DAYS_EMPLOYED       0
FLAG_MOBIL          0
work_phone          0
phone               0
email               0
occyp_type       3152
family_size         0
begin_month         0
dtype: int64

In [11]:
# 결측값 채우기
train_df = train_df.fillna('Pensioner')

In [12]:
test_df = test_df.fillna('Pensioner')

In [13]:
# 결측값 제거 되었는지 확인
train_df.isnull().sum()

index            0
gender           0
car              0
reality          0
child_num        0
income_total     0
income_type      0
edu_type         0
family_type      0
house_type       0
DAYS_BIRTH       0
DAYS_EMPLOYED    0
FLAG_MOBIL       0
work_phone       0
phone            0
email            0
occyp_type       0
family_size      0
begin_month      0
credit           0
dtype: int64

In [14]:
test_df.isnull().sum()

index            0
gender           0
car              0
reality          0
child_num        0
income_total     0
income_type      0
edu_type         0
family_type      0
house_type       0
DAYS_BIRTH       0
DAYS_EMPLOYED    0
FLAG_MOBIL       0
work_phone       0
phone            0
email            0
occyp_type       0
family_size      0
begin_month      0
dtype: int64

In [15]:
# 데이터 전처리, 문자열 => 숫자형 변환

train_df['gender'] = train_df['gender'].map({'F':1, 'M':0})

train_df['car'] = train_df['car'].map({'N':1, 'Y':0})

train_df['reality'] = train_df['reality'].map({'N':1, 'Y':0})

train_df['income_type'].replace(['Commercial associate', 'Working','Pensioner','State servant','Student'],[0,1,2,3,4],inplace=True)
train_df['edu_type'].replace(['Academic degree', 'Higher education','Incomplete higher','Lower secondary','Secondary / secondary special'],[0,1,2,3,4],inplace=True)
train_df['family_type'].replace(['Civil marriage', 'Married','Separated','Single / not married','Widow'],[0,1,2,3,4],inplace=True)
train_df['house_type'].replace(['Co-op apartment', 'House / apartment','Municipal apartment','Office apartment','Rented apartment','With parents'],[0,1,2,3,4,5],inplace=True)
train_df['occyp_type'].replace(['Accountants', 'Cleaning staff','Cooking staff','Core staff','Drivers','High skill tech staff',
                            'HR staff','IT staff','Laborers','Low-skill Laborers', 'Managers','Medicine staff',
                            'Pensioner','Private service staff', 'Realty agents','Sales staff','Secretaries',
                            'Security staff','Waiters/barmen staff'],[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18],inplace=True)

In [25]:
# train_df의 데이터에서 독립변수 X, 종속변수 y를 정하기
X = train_df[['gender','income_total', 'car','family_size', 'occyp_type']]
y = train_df['credit']

In [26]:
# 트레이닝, 테스트셋 분리하기
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size = 0.2)

### 로지스틱 회귀

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [27]:
# 모델 학습
lgr = LogisticRegression()
model.fit(train_X, train_y)

LogisticRegression()

In [28]:
# 예측값 확인
print('예측값 : %.4f' % model.score(train_X, train_y))

예측값 : 0.6422

### 앙상블

In [29]:
from sklearn.ensemble import RandomForestClassifier

In [30]:
# 모델 생성 및 학습
rfc = RandomForestClassifier(n_estimators=50, max_depth=3, random_state=20)
rfc.fit(train_X, train_y)

RandomForestClassifier(max_depth=3, n_estimators=50, random_state=20)

In [31]:
# 예측
y_rfc_pred = rfc.predict(test_X)
print('예측값 :', y_rfc_pred[:5])

# 모델성능 평가
rfc_acc = accuracy_score(test_y, y_rfc_pred)
print('Accurancy : %.4f' % rfc_acc)

예측값 : [2. 2. 2. 2. 2.]
Accurancy : 0.6378

의사결정나무

In [33]:
from sklearn.tree import DecisionTreeClassifier

In [34]:
# 모델 생성 및 학습
dtc = DecisionTreeClassifier(max_depth=3, random_state=20)
dtc.fit(train_X, train_y)

DecisionTreeClassifier(max_depth=3, random_state=20)

In [35]:
# 예측
y_dtc_pred = dtc.predict(test_X)
print('예측값 : ', y_dtc_pred[:5])

# 성능 평가
dtc_acc = accuracy_score(test_y, y_dtc_pred)
print('Accuracy : %.4f' % dtc_acc)

예측값 :  [2. 2. 2. 2. 2.]
Accuracy : 0.6378